module.exports = {
  // How often logs are rotated. E.g. '5s', '15m', '24h', 7d
  logInterval: '7d',

  // Database config
  db: {
    host: 'localhost',
    database: 'ricochet',
    user: 'ricochet_user',
    pass: 'ricochet_password',
    dialect: 'mysql',
    port: 3306
  }
};
